// Breakpoint variables
$md-break: 768px;

.main-nav-bar {
  box-shadow: rgba($gray-800, 0.04) 0 1px 2px, rgba($gray-800, 0.04) 0 4px 8px;

  .navbar-brand {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    
    @media (min-width: $md-break) {
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
    }
    
    img {
      height: 24px;
      
      @media (min-width: $md-break) {
        height: 30px;
      }
    }
    
    small {
      font-size: 0.7rem;
      
      @media (min-width: $md-break) {
        font-size: 0.875rem;
      }
    }
  }

  .nav-link {
    color: $gray-700 !important;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    
    @media (min-width: $md-break) {
      font-size: 1rem;
    }

    svg {
      height: 10px;
    }
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }
}
